<div>
  <div id="loginModal" class="modalDialog">
    <div>
      <a href="#close" title="Close" class="close">X</a>
      <form class ="go_bottom reg">
        <div>
          <input id="email" type="text" ng-model="email" class="reg_input">
          <label for="name">Email</label>
        </div>
        <div>
          <input id="password" type="password" ng-model="password" class="reg_input">
          <label for="phone">Password</label>
        </div>
        <section>
          <button type="button" ng-click="login()">Login</button>
        </section>
      </form>
    </div>
  </div> 
</div> 

